{% extends "base.html" %}
{% block h2 %}
Preferenze utente
{% endblock %}
{% block content %}
{% if form.errors %}
	<p>Per cortesia correggere gli errori (vedi sotto)</p>
{% endif %}
<form method="post" action="{% url setpref %}">
<table>
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
    <tr>
        <td><p>
        	{{field.errors}}{{ field }}
    		{{field.label}}{% if field.field.required %}*{% endif %}
    		</p>
        </td>
    </tr>
{% endfor %}
<tr><td>&nbsp;</td></tr>
</table>
<input type="submit" value="Salva impostazioni">
</form>
{% endblock %}
